<div>
    <h1>Logueaste usando GitHub: </h1>
    <a href="/api/session/github"> <button> Entra con GitHub </button></a>
    <br>
    <h2>No quieres usar GitHub? Podes usar nuestros enlaces: </h2>
    <p>No estás registrado? <a href="/users/register">Registrate acá</a></p>
    <p>Ya tenes una cuenta? <a href="/users/login">Loguearse</a></p>
</div>